:root {

    --color-primary: #27AE60;
    --color-secondary:  #EB5757;

    --grey-4:#333333;
    --grey-3:#828282;
    --grey-2:#E0E0E0;
    --grey-1:#F5F5F5;

    --font-primary: 'Inter', sans-serif;

    --button-default:  #BDBDBD;

    

}