.header{
    width: 100%;
    height: 4.75rem;
    background: var(--grey-1);
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

     button {
       background: transparent;
       color: var(--button-default);

        span{
            background: var(--color-primary);
            color: var(--grey-1);
            padding: 0.3125rem;
            border-radius: 0.25rem;
            font-size: 14px;
            font-weight: 800;
            position: relative;
            top: -1.4375rem;
            right: 0.4375rem; 
        }
    }
}